.about {
    min-height: 700px;
    height: 100vh;
    padding: 0 em(40) 0 em(40);
    // border: em(1) solid red;
    position: relative;
    display: flex;
    align-items:center;
    justify-content: center;
    &__inner {
        width: 100%;
        height: 80%;
        margin-top: 10%;
        position: relative;
        bottom:0;
        border: 0.50px solid #6e6e6e;
        border-radius: em(10);
        // height: em(960);
    }

    // .about__fon

    &__fon {
        width: em(773);
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        z-index: -1;
    }

    // .about__title

    &__title {
        text-align: center;
        margin-top: em(200,24);
    }

    // .about__content

    &__content {
        margin-top: em(100,48);
        font-weight: 300;
        font-size: em(48);
        line-height: 110%;
        letter-spacing: -0.04em;
        text-align: center;
        color: #fff;
    }
    
    &__link{
        margin-top: em(100,36);
        margin-bottom: em(259,36);
        margin-left: auto;
        margin-right: auto;
        display: flex;
        align-items:center;
        justify-content: center;
        font-weight: 300;
        font-size: em(36);
        line-height: 110%;
        letter-spacing: -0.04em;
        color: #5a5a5a;
        transition: .5s;
    }

    &__icon{
        margin-left: em(30,36);
        fill: #5A5A5A;
        transition: .5s;
        width: em(30,36);
    }
    // .about__slogan

    &__slogan {
        position: absolute;
        bottom: em(13,16);
        left: 50%;
        transform: translateX(-50%);
        font-style: italic;
        font-weight: 200;
        font-size: em(16);
        line-height: 110%;
        letter-spacing: -0.04em;
        color: #5a5a5a;
    }
}


.about__link:hover{
    color:#fff;
}
.about__link:hover .about__icon{
    fill:#fff;
}

.about__content-mob{
    display: none;
}

@media screen and (max-width: 450px) {
    
    @supports (height: 100dvh) {
        .about {
            min-height: auto;
            height: 100dvh; /* Используем dvh, если поддерживается */
        }
    }

    .about {
        padding: 0 em(20) 0 em(20);
        &__title {
            font-size: em(16);
            margin: 0;
        }
        &__inner{
            flex-direction: column;
            display: flex;
            justify-content: center;
            align-items:center;
        }
        &__content{
            font-size: em(24);
            margin-top: em(140,24);
            margin-bottom: em(100,24);
            
        }
        &__link{
            margin: 0;
        }
        &__link{
            font-size: em(24);
        }
        &__icon{
            width: em(24,24);
        }
        &__slogan{
            font-size: em(14);
            width: 100%;
            text-align: center;
        }
    }
    .about__content-mob{
        display: block;
    }
    .about__content-desc{
        display: none;
    }
}