.hero {
    min-height: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 em(40) 0 em(40);
    position: relative;
    overflow: hidden;
    

    &__top {
        padding-top: em(60);
        display: flex;
        justify-content: space-between;
    }

    // .hero__bottom

    &__bottom {
        display: flex;
        justify-content: space-between;
        margin-bottom: em(155);
    }
}
.logo {
    width: em(920);
}
.main-hero-img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: -1;

}
.hero-top-gradient{
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    rotate: 180deg;
}
.hero-bottom-gradient{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}
.menu {
    font-weight: 300;
    font-size: em(24);
    line-height: 110%;
    letter-spacing: -0.04em;
    color: #fff;
}
.menu-link {
}
.main-btn {
    font-weight: 300;
    font-size: em(48);
    line-height: 110%;
    letter-spacing: -0.04em;
    color: #fff;
    display: flex;
    align-items:center;
}
.main-btn-icon-wrrap {
    width: em(101,48);
    height: em(101,48);
    margin-left: em(42,48);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid #fff;
}
.main-btn-icon {
}
.main-wrap{

    max-width: em(513);
}
.title-main {
    font-weight: 300;
    font-size: em(48);
    line-height: 110%;
    letter-spacing: -0.04em;
    text-align: justify;
    color: #fff;
}
